<mat-toolbar color="primary">
    <span><img src="/assets/images/logo.png" height="38px"></span>
    <div fxFlex fxLayout fxHide.xs fxHide.sm>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a mat-button routerLink="/home" routerLinkActive="active"> Aufgabe </a>
            </li>
            <li>
                <a mat-button routerLink="/template" routerLinkActive="active"> Template-driven Forms </a>
            </li>
            <li>
                <a mat-button routerLink="/reactive" routerLinkActive="active"> Reactive Forms </a>
            </li>
        </ul>
    </div>
    <span class="flex-spacer"></span>
    <a mat-button href="https://portefeuille.bitbucket.io/" rel="noreferrer" target="_blank"> Jana °
        Portfolio </a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center"
    fxLayoutGap="10px">

    <div fxFlex="50%" fxLayoutAlign="center center">
        <h2>Die Code-Challenge von</h2>
    </div>
    <div fxFlex="30%" fxLayoutAlign="start center">
        <a href="https://yolawo.de/" rel="noreferrer" target="_blank">
            <img src="/assets/images/logo-469x100.png" height="40px" alt="Logo">
        </a>
    </div>

</div>