<div fxFlex fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-header>
            <mat-card-title>
                <h5>Schreibe eine sehr kleine Angular-App, die ein kleines Formular jeweils als <a mat-stroked-button color="primary"
                        routerLink="/template">“template-driven”</a> und <a mat-stroked-button color="primary"
                        routerLink="/reactive">“reactive”</a>
                    implementiert.</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>